/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.bolder{
  font-weight: bolder;
}

nav ul a,
nav .brand-logo {
  color: #000;
}
.justify{
  text-align: justify;
}
p {
  line-height: 2rem;
}
.drdotext{
  margin-top:0px;line-height: 14px;font-size: 14px;font-weight: bolder;
}
.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.header-text{
  font-weight:bolder;margin-top: 25px; color: #1c2331;
}
.img2{
 margin-top: 10px;
}
.header{
  font-weight: bold;
}
.register{
  width:50rem;
  margin-top: 50px;
}
.login{
  width:30rem;
  margin-top: 50px;
}
@media only screen and (max-width : 630px) {
  .drdotext{
    font-size: 7px;
    line-height: 7px;
    margin-left: 10px;
  }
  .register,.login{
    width:20rem
  }
  .header{
    font-size: 30px;
    font-weight: bold;
    margin-top:-50px; 
  }
  .header-text{
    font-size: 17px;
    margin-left: 40px;
  }
  .img2{
    width: 60px !important;
    margin-top: 10px;
  }
}
